* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16;
    font-family: 'Lato', sans-serif;
}

/* NAV BAR */
#nav-bar {
    display: flex;
    background-image: linear-gradient( white, whitesmoke);
    width: 100vw;
    padding: 20px;
    text-decoration: none;
}

#nav-link {
    color: black;
    padding: 1.5px 0 0 0;
    text-decoration: none;
    list-style: none;
}

/* MAIN CONTAINER/BACKGROUND */
#background-container {
    display: flex;
    height: 100vh; 
}

#main-back {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient( whitesmoke, rgb(97, 95, 95));  
}

#main-front {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/tech-background 1.jpeg");
    clip-path: polygon(15% 100%, 100% 100%, 100% 0%, 100% 0);
    background-size: cover;
    background-repeat: no-repeat;
}

/* NAME COLUMN & ARTICLES */
#name-div {
    flex-direction: row;
    font-size: 4vw; 
    background-color: rgba(128, 128, 128, 0.233); 
    width: 20vw;
    margin: 15px;
    padding: 150px 20px;
    z-index: 2;
}

#top-article {
    position: relative;
    flex-direction: row;
    background-color:rgba(194, 192, 192, 0.233);
    margin: 20px 100px 0 100px;
    padding: 10px;
    height: 30vh;
    width: 40vw;
    border-top: solid grey;
    /* z-index: 1;   */
}

#bottom-article {
    position: relative;
    flex-direction: row;
    background-color:rgba(194, 192, 192, 0.233);
    margin: 10px 100px 20px 100px;
    padding: 10px;
    height: 50vh;
    width: 40vw;
    border-top: solid gray;
    border-bottom: solid gray;
    z-index: 4;
}

/* PROJECTS SECTION */
#nav-bar-p {
    display: flex;
    background-image: linear-gradient( white, rgb(235, 235, 235), hsl(0, 0%, 92%));
    width: 100vw;
    padding: 20px;
    text-decoration: none;
}

#project-main {
    display: flex;
    position: relative;
    background-image: linear-gradient( whitesmoke, rgb(97, 95, 95));
    width: 100vw;
}

#projects-section{
    position: relative;
    width: 100vw;
    z-index: 0;
}

#projects1 {
    position: relative;
    background-color: tomato;
    width: 30%;
    height: auto;
    margin: 1% 10% 1% 40%;
    padding: 5px;
    z-index: 1;
}

#projects2 {
    position: relative;
    justify-content: flex-end;
    width: 30%;
    height: auto;
    margin: 1% 40% 1% 20%;
    padding: 5px;
    z-index: 1;
}

#app-p {
    padding: 2px;
}

img{
    border-radius: 2%;
}

img:hover {
 
}

/* CONTACT MODAL */
#contactBtn {
    font-size: 30px;
    background-color: #dcdcdd;
    height: 15vh;
    width: 40vw;
    border-radius: 10%;
    box-shadow: 1px 1px #69849b;
    margin: 5% 30%;
}

#contactBtn:hover {
    color: #d0c3bd;
    background-color: #69849b;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.modal {
    display: none; /* hide by default */
    position: fixed;
    z-index: 1; /* sits on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* enables scroll if needed */
    background-color: rgb(0, 0, 0); /* fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* black with opacity */
}

/* modal content box */
    .modal-content {
    background-color: #dcdcdd;
    border-radius: 5px;
    margin: 15% auto; /* 15% from top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 63%;
}

/* close button */
    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Contact Form */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

#contact-input {
    font-size: 16px;
    background-color: #edf5e1;
    height: 7vh;
    width: 25vw;
    padding: 1%;
    margin: 0.5% 30%;
    border-radius: 5px;
    box-shadow: 1px 1px #1d2424;
}

#text-area {
    font-size: 16px;
    background-color: #edf5e1;
    height: 20vh;
    width: 25vw;
    padding: 1%;
    margin: 0.5% 30%;
    border-radius: 5px;
    box-shadow: 1px 1px #1d2424;
}

#contact-button {
    font-size: 18px;
    font-weight: bolder;
    color: black;
    background-color: #69849b;
    height: 7vh;
    width: 15vw;
    margin: 0.15% 30%;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px #1d2424;
}

#contact-button:hover {
    background-color: rgba(178, 188, 197, 0.8);
    transition: background-color 0.3s ease;
    cursor: pointer;
} 