* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16;
}

/* NAV BAR */
#nav-bar {
    display: flex;
    background-color: salmon;
    padding: 5px;
}

/* MAIN CONTAINER/BACKGROUND */
#background-container {
    display: flex;
    height: 100vh;
    margin: 0 auto;  
}

#main-back {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient( whitesmoke, lightgrey);  
}

#main-front {
    height: 100vh;
    background-image: url("../images/tech-background2.jpeg");
    clip-path: polygon(10% 100%, 100% 100%, 100% 0%, 115% 0);
    background-size: cover;
    background-repeat: no-repeat;
    
}
